.header-main{
    height: 70px;
    border-bottom: 1px solid lightgray;
    background-color: whitesmoke;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
    align-content: center;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header-logo {
    align-self: flex-start;
    margin: 0;
    align-items: stretch;
    cursor: pointer;
    height: 70px;
    width: 200px;
    object-fit: contain;
}

.logo {
    height: 70px;
    width: 200px;
    object-fit: contain;
}

.header-middle {
    display: flex;
    align-items: stretch;
    align-self: center;
    justify-content: center;
    flex: 1;
}

.header-end {
    margin-right: 30px;
    display: flex;
    align-items: center;
}