.main-area {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: monospace;
}

.main-logo {
    height: 70%;
    width: 30%;
    align-items: center;
}

.main-logo img {
    object-fit: fill;
    align-self: center;
}

.main-title {
    font-size: 40px;
}

.login-form-frame {
    height: 70%;
    width: 30%;
    background-color: #f5d79b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.login-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.login-flex {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    margin-bottom: 20px;
}

.login-label {
    width: 250px;
    margin: 8px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.login-input {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login-btn {
    padding: 16px;
    background-color: darkred;
    width: 200px;
    margin: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #b60606;
}

.go-signup {
    font-size: 20px;
}

.toggle-link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}
